# Node / TypeScript artifacts
node_modules/
dist/
build/
.turbo/
.parcel-cache/
data/seeds/
service-account*.json

# Env files
.env
.env.*
.envrc
apps/web/.env.local

# Firebase / tooling
.firebase/
firebase-debug.log

# OS / Editor junk
.DS_Store
Thumbs.db
*.swp

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

#config local
config/local/
